<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--adding bootstrap-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <!--adding fontawesome-->
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/fontawesome.min.css"
    />
  </head>