<!--This is header partial that has the links to bootstrap and fontawesome for styling-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--adding bootstrap-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <!--adding fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>